include LICENSE
include README.md
include cocotbext/mipi_csi2/about.py
recursive-include cocotbext *.py
recursive-include tests Makefile test_*.py test_*.v
exclude tests/*/__pycache__/*
exclude cocotbext/*/__pycache__/*
